# CMake
build/

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# コンパイル生成物
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.out

# デバッグ情報
*.pdb

# エディタ
.vscode/
.idea/

# OSゴミ
Thumbs.db
.DS_Store

# 環境ファイル
orajaPath.txt
roots.txt